*{
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(242, 246, 250);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 2px;
    background-color: rgb(77, 182, 77);
}

.header {
    display: flex;
    margin: 0 auto;
}

.header .head {
    margin: 0 auto;
}

.head img {
    width: 150px;
    height: 120px;
}

nav ul {
    padding: 10px;
}

nav ul li {
    padding: 10px;
    display: inline-block;
    line-height: 40px;
    list-style: none;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav ul li a:hover {
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: black;
}

.content {
    width: 95%;
    overflow-x: visible;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


.top {
    margin-top: 10px;
    height: 50px;
    padding: 40px;
    width: 100%;
}

.top h2 {
    margin-bottom: 0;
    padding: 5px;
}


.gallery{
    margin: 0 auto;
    padding: 5px;
}
.gallery img{
    width: 300px;
    height: 350px;
}



p .download{
    text-decoration: none;
}

.icon {
    display: none;
   
  
}
.icon svg{
    color: white;
    padding: 2px;
    background-color: rgb(59, 216, 143);
    border-radius: 40px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}

.gallery:hover > p{
    display: contents;
   
}

footer {
    padding: 20px;
    background-color: rgb(72, 64, 185);
}

footer nav ul li a {
    color: white;
}
/* @media(max-width:400px){ */
@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {

    .content{
        display: block;
        background-color: rgb(169, 226, 226);
    }
    .gallery{
        margin: 0 auto;
        padding: 10px;
        height: 60%;
    }
    .gallery img{
        width: 100%;
        height: 100%;
    }
    
    .icon {
        display: contents;
       
      
    }
    
    p .download{
        text-decoration: none;
    }
}






