@media(min-width:450px){
    .content{
        display: flex;
    }
    .content .gallery {
        margin: 0 auto;
        padding: 15px;
        
    }
    
    .content .gallery img {
        margin: 0 auto;
        height: 350px;
        padding: 5px;
        width: 300px;
        
    }
}